<h1>Ann's Blog</h1>

<% @blog_posts.each do |blog| %>

  <h2><%= link_to blog.title, blog %> 
  <% if blog.draft? %>
    <span class="py-2 px-3 ml-4 rounded text-base bg-gray-100 text-gray-900 font-normal">Draft</span>

  <% elsif blog.scheduled? %>
      <span class="py-2 px-3 ml-4 rounded text-base bg-orange-200 text-gray-900 font-normal">Scheduled</span>
  <% end %>
  </h2>
  <p><%= blog.content %></p>
  <%= output_time_info(blog) %>
<% end %>

<footer class="my-14 flex justify-center">
  <%# Using double equal which will not sanitize html - but we trust the Pagy gem %>
  <%== pagy_nav(@pagy)%>
</footer>